@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/****** Sass Examples ******/

//Variables
$goldenrod: #E8AE02;
$lava: #CC2522;
$redwood: #995F4C;
$steelteal: #548687;
$powder: #FDFFFC;

//Mixins
@mixin color () {
  color: $powder;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

//Nesting
section.row {
  h2 {
    background: $lava;
    @include color();
  }
  p.example {
    background: $redwood;
    @include color();
  }
}

.nav {
  font-size: larger;

  li:hover {
    @include transform(rotate(10deg));
  }
}

body {
  background: black;
}

header {
  background: white;
}

main {
  background: gray;
}

h3,
h5 {
  color: white;
}

p {
  color: white;
  font-size: larger;
}

.carousel-inner img {
  margin: auto;
}

footer {
  background: white;
}

.jumbotron {
  background: white;
}
